.App {
  text-align: center;
  background-image:url("https://ichef.bbc.co.uk/images/ic/640x360/p05ty0x6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.Logo {
  margin-right: 1300px;
  position:fixed;
}

li{
  list-style: none;
  color:white;
  
}
Nav{
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  list-style: circle;
  background-color:rgb(27, 27, 124);
  padding: 20px;
  margin: 0px;
  margin-bottom: 10px;
  position: sticky;
  top:0px;
}
.login{
  border: 1px solid white;
  width: 100px;
  padding: 5px 20px;
  margin-left: 5px;
background-color: #49212e;
  color: white;
  border-radius: 6px;
  font-size: 15px;
  text-decoration: none;

}




.Movies{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.Movie{
  width: 30%;
  margin: 25px;
  padding:25px;
  background-color: whitesmoke;

}
.Movie img{
  height:300px;
}
.Movie h3:hover {
background-color: lightgray;
cursor:pointer;
}
.Movie h5:hover {
  background-color: lightgray;
cursor:pointer;
}
.AboutUs img{
  height:500px;
  margin:50px;
  background-color: whitesmoke;
  
}
.User img{
  height:300px
}
.Footer img{
  
  width: 100%;
  border: 1px solid blue;
  
}